# Ignorar arquivos compilados
*.class

# Ignorar pasta bin (compilação)
bin/

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar arquivos temporários do VS Code
.vscode/

.idea

Jogo-Da-Forca-Java.iml

out/

# Ignorar arquivos de backup/swap
*.log
*.tmp
*~
